@page "/games/qless"
@rendermode InteractiveServer
@inject DictionaryOfWords _dictionary;

<SmabPageTitle>Q-Less</SmabPageTitle>
<div class="row">
	<button class="btn btn-primary" type="button" @onclick="() => StartNewGame()">@(gameOver ? "CONGRATULATIONS - New Game" : "New Game")</button>
</div>
@if (qLessDice is not null) {
	<div>
		<div id="board_and_rack">
			<div>
				<div id="board" win="@gameOver" @oncontextmenu:preventDefault>
					@for (int r = 0; r < BOARD_HEIGHT; r++) {
						@for (int c = 0; c < BOARD_WIDTH; c++) {
							int row = r;
							int col = c;
							PositionedDie? positionedDie = qLessDice.Board.Where(d => d.Row == row && d.Col == col).SingleOrDefault();
							<QLessDie
								DisplayLetter = "@(positionedDie is null ? NO_DIE : positionedDie.Die.Display)"
								IsDraggable   = "@(positionedDie is not null)"
								IsError       = "@(gameStatus is QLessDice.Errors gs ? gs.DiceWithErrors.Any(d => d.Row == row && d.Col == col) ? true : false : false)"
								IsMoving      = "@(positionedDie?.Die.Name is not null && positionedDie.Die.Name == dragId)"
								OnDragStartCallback = "() => DragStart(positionedDie?.Die.Name)"
								OnDropCallback      = "() => DropOnBoard(col, row)"
								OnClickCallback     = "() => OnBoardClick(positionedDie?.Die.Name, col, row)" />
						}}
				</div>
				<div id="rack" win="@gameOver" @oncontextmenu:preventDefault>
					@for (int i = 0; i < qLessDice.Dice.Count; i++) {
						int col = i;
						Die? die = qLessDice.Rack.Where(posDie => posDie.Col == col).SingleOrDefault()?.Die;
					<QLessDie
						DisplayLetter = "@die?.Display"
						IsDraggable   = "@(die is not null)"
						IsMoving      = "@(die?.Name is not null && die.Name == dragId)"
						OnDragStartCallback = "() => DragStart(die?.Name)"
						OnDropCallback      = "() => DropOnRack(col)"
						OnClickCallback     = "() => OnRackClick(die?.Name, col)"/>
				}
				</div>
				@if (qLessDice.HasDictionary) {
					<div id="dictionary"><span>with dictionary</span></div>
				}
			</div>
		</div>
	</div>
}

<style>
	.board {
		--board-width:  @BOARD_WIDTH;
		--board-height: @BOARD_HEIGHT;
	}
	.rack {
		--rack-width:  @RACK_SIZE;
		--rack-height: @((qLessDice?.Dice.Count ?? 12) / RACK_SIZE);
	}
</style>

@code {
	private const int BOARD_HEIGHT = 10;
	private const int BOARD_WIDTH  = 12;
	private const int RACK_SIZE    = 12;

	private const string NO_DIE      = " ";

	private bool gameOver => gameStatus is QLessDice.Win;
	private QLessDice.Status gameStatus = default!;
	private QLessDice qLessDice = null!;

	private string? dragId = null;
	private bool isClickToMoveInProgress = false;



	void StartNewGame()
	{
		qLessDice = new(_dictionary);
		gameStatus = qLessDice.GameStatus();
	}



	private void DragStart(string? name)
	{
		if (name is not null) {
			dragId = name;
		}
	}

	private void DragEnd()
	{
		dragId = null;
	}

	private void DropOnBoard(int col, int row)
	{
		if (dragId is not null) {
			_ = qLessDice.PlaceOnBoard(dragId, col, row);
			dragId     = null;
			isClickToMoveInProgress = false;
			gameStatus = qLessDice.GameStatus();
		}
	}

	private void DropOnRack(int col)
	{
		if (dragId is not null) {
			_ = qLessDice.PlaceOnRack(dragId, col);
			dragId = null;
			isClickToMoveInProgress = false;
			gameStatus = qLessDice.GameStatus();
		}
	}

	private void OnBoardClick(string? name, int col, int row)
	{
		if (isClickToMoveInProgress) {
			isClickToMoveInProgress = false;
			DropOnBoard(col, row);
			return;
		}

		if (name is not null) {
			isClickToMoveInProgress = true;
			dragId = name;
		}
	}

	private void OnRackClick(string? name, int col)
	{
		if (isClickToMoveInProgress) {
			isClickToMoveInProgress = false;
			DropOnRack(col);
			return;
		}

		if (name is not null) {
			isClickToMoveInProgress = true;
			dragId = name;
		}
	}
}
