<div class="nav-item px-3">
	<NavLink class="nav-link" href="@Path" Match="@Match" data-enhance-nav="@(DisableEnhancedNav ? "false" : null)">
		<span class="@iconClass" aria-hidden="true">@icon</span> @Text
	</NavLink>
</div>

@code {
	[Parameter, EditorRequired] public string Path { get; set; } = "";
	[Parameter, EditorRequired] public string Text { get; set; } = "";
	[Parameter, EditorRequired] public string Icon { get; set; } = "";
	[Parameter] public NavLinkMatch Match { get; set; } = NavLinkMatch.Prefix;
	[Parameter] public bool DisableEnhancedNav { get; set; } = false;

	string iconClass => Icon.StartsWith("bi", StringComparison.OrdinalIgnoreCase) switch
	{
		true  => $"bi {Icon}",
		false => "emoji",
	};

	string? icon => iconClass.StartsWith("bi", StringComparison.OrdinalIgnoreCase) ? null : Icon;
}
