	@if (FaceDown) {
		<span title="Card back"
			  data-back @onclick="() => OnClick.InvokeAsync()">
			@PlayingCard.Back
		</span>
	} else if (PlayingCard is JokerPlayingCard joker) {
		<span title="@PlayingCard"
			  data-joker-colour="@joker.Type"
			  @onclick="() => OnClick.InvokeAsync()">
			@PlayingCard.ToUnicode()
		</span>
	} else {
		<span title="@PlayingCard"
			  data-value="@PlayingCard.Value"
			  data-suit="@PlayingCard.Suit"
			  @onclick="() => OnClick.InvokeAsync()">
			@PlayingCard.ToUnicode()
		</span>
	}


@code {
	[Parameter] public required PlayingCard PlayingCard { get; set; }
	[Parameter] public bool FaceDown { get; set; } = false;

	[Parameter] public EventCallback OnClick { get; set; }
}
