@page "/"

<PageTitle>Home</PageTitle>

<SectionContent SectionName="page-title">Home</SectionContent>

<h2>Welcome to the playground</h2>

<ul>
	<li>The site version is @Program.ProductVersion</li>
	<li>The framework is @System.Runtime.InteropServices.RuntimeInformation.FrameworkDescription</li>
	<li>The operating system is @System.Runtime.InteropServices.RuntimeInformation.OSDescription</li>
	<li>The OS architecture is @System.Runtime.InteropServices.RuntimeInformation.OSArchitecture</li>
	<li>The process architecture is @System.Runtime.InteropServices.RuntimeInformation.ProcessArchitecture</li>
</ul>