<table>
	<caption>
		<span>@($"{(GameOver ? "Final" : "")} Score: {Score}")</span>
		@if (!GameOver) {
			<span danger="@isDangerZone">Time remaining: @($"{TimeRemaining:m\\:ss}")</span>
		}
	</caption>
	<thead>
		<tr>
			<th>Score</th>
			<th>Word</th>
			<th>Reason</th>
		</tr>
	</thead>
	<tbody>
		@foreach (WordScore wordScore in OrderedWordList) {
			<tr data-reason="@(wordScore.Reason is ScoreReason.Success ? null : wordScore.Reason.ToString().ToLowerInvariant())">
				<td>@wordScore.Score</td>
				<td>@wordScore.Word</td>
				<td>@GetReason(wordScore.Reason)</td>
			</tr>
		}
	</tbody>
</table>

@code {
	[Parameter]
	public bool GameOver { get; set; } = false;

	[Parameter]
	public IEnumerable<WordScore> WordScores { get; set; } = [];

	[Parameter]
	public int Score { get; set; } = 0;

	[Parameter]
	public TimeSpan TimeRemaining { get; set; } = TimeSpan.Zero;

	private bool isDangerZone => TimeRemaining < TimeSpan.FromSeconds(10); 
	private IEnumerable<WordScore> OrderedWordList
		=> GameOver ? WordScores.OrderBy(w => w.Word) : WordScores.Reverse();

	private string GetReason(ScoreReason reason)
	{
		return reason switch {
			ScoreReason.Success       => "",
			ScoreReason.AlreadyPlayed => "Duplicate word",
			ScoreReason.Misspelt      => "Spelling error",
			ScoreReason.TooShort      => "Too short",
			ScoreReason.Unplayable    => "Unplayable",
			_ => ""
		};
	}

}
